.go {
}

.no {
}

h1 {
  color: brown;
}

.cardCard {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 250px;
  margin: 16px;
}

.cardImage img {
  width: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.cardContent h4 {
  margin: 0 0 8px;
}

.cardContent p {
  height: 3.9375rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardMeta {
  font-size: 0.875rem;
  color: #999;
}

.cardMeta .separator {
  margin: 0 4px;
}

.cardFooter {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #eaeaea;
}

.userImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.author {
  margin-right: 5px;
}

.likes {
  font-size: 0.875rem;
}

.cardFooter span {
  margin-right: 8px;
}

main {
  display: flex;
}

a:visited {
  color: black;
}
